<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Production Report</title>
  </head>
  <body>
    <h1>Production Report</h1>

    <form action="post">
      <input type="date" name="" id="" placeholder="Date" />
      <br />
      Raw Material Required :
      <br />
      <br />
      <select name="" id="">
        <option value="">Name of the Raw Material</option>
      </select>
      <input type="number" name="" id="" placeholder="No. of piece" />
      <br />
      <select name="" id="">
        <option value="">Name of the Raw Material</option>
      </select>
      <input type="number" name="" id="" placeholder="No. of piece" />
      <br />
      <select name="" id="">
        <option value="">Name of the Raw Material</option>
      </select>
      <input type="number" name="" id="" placeholder="No. of piece" />
      <br />
      <br />
      Finish Goods Produced :
      <br />
      <br />
      <select name="" id="">
        <option value="">Name of the Raw Material</option>
      </select>
      <input type="number" name="" id="" placeholder="No. of piece" />
      <br />
      <select name="" id="">
        <option value="">Name of the Raw Material</option>
      </select>
      <input type="number" name="" id="" placeholder="No. of piece" />
      <br />
      <select name="" id="">
        <option value="">Name of the Raw Material</option>
      </select>
      <input type="number" name="" id="" placeholder="No. of piece" />
      <br />
      <br />
      Wastage Item :
      <br />
      <br />
      <select name="" id="">
        <option value="">Name of the Raw Material</option>
      </select>
      <input type="number" name="" id="" placeholder="No. of piece" />
      <br />
      <select name="" id="">
        <option value="">Name of the Raw Material</option>
      </select>
      <input type="number" name="" id="" placeholder="No. of piece" />
      <br />
      <select name="" id="">
        <option value="">Name of the Raw Material</option>
      </select>
      <input type="number" name="" id="" placeholder="No. of piece" />
      <br />
      <br />
      <button type="reset">Reset</button>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
