<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Employees Work</title>
  </head>
  <body>
    <h1>Employee work hour</h1>
    Punch Form:
    <form action="" method="post">
      <input type="date" name="" id="" />
      <select name="" id="">
        <option value="">~select~</option>
      </select>
      in time :
      <input type="time" name="" id="" />
      out time :
      <input type="time" name="" id="" />
      <br />
      <button type="reset">Reset</button>
      <button type="submit">Submit</button>
    </form>
    <hr />
    <br />
    Enquiry of the employee :
    <br />
    <form action="" method="post">
      <input type="date" name="" id="" /> and
      <input type="date" name="" id="" />
      <select name="" id="">
        <option value="">~select~</option>
      </select>
      <br />
      <button type="reset">Reset</button>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
